* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Andada Pro", serif;
  background-color: rgb(228, 244, 250);
}

div {
  margin: 50vh auto;
  text-align: center;
  max-width: 500px;
}

button {
  padding: 15px;
  width: 150px;
  font-size: 1.3em;
  background-color: rgb(223, 68, 68);
  color: rgb(253, 211, 211);
  cursor: pointer;
  border: 2px solid rgb(223, 68, 68);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

button:hover {
  background-color: rgb(253, 211, 211);
  color: rgb(223, 68, 68);
  border: 2px solid rgb(253, 211, 211);
}

p {
  margin-top: 50px;
  font-size: 1.1em;
}
