* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f0e1db;
}

.container-input {
  width: 500px;
  background-color: #ff755f;
  text-align: center;
  margin: 50px auto;
  padding: 30px;
  border-radius: 1em;
}

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #f0e1db;
  padding-bottom: 20px;
}

#input-task {
  width: 300px;
  line-height: 1.3rem;
  padding: 5px;
  border: 1px solid #f0e1db;
  border-radius: 0.5em;
}

#btn-task {
  margin-left: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 1.2em;
  font-weight: 300;
  color: #ff755f;
  background-color: #f0e1db;
  border: 1px solid #f0e1db;
}

#btn-task:hover {
  border: 1px solid #f0e1db;
  background-color: #ff755f;
  color: #f0e1db;
  cursor: pointer;
}

.tasks {
  margin-top: 50px;
  width: 400px;
  text-align: center;
  color: #f0e1db;
  text-transform: lowercase;
  visibility: hidden;
}

.show-tasks {
  visibility: visible;
}

.task-item {
  display: flex;
  justify-content: space-between;
}

.clear-btn {
  text-transform: lowercase;
  margin: 10px;
  padding: 10px;
  font-size: 0.8rem;
  border-radius: 0.5em;
  border: hidden;
  background-color: #ff755f;
  color: #f0e1db;
}

.clear-btn:hover {
  cursor: pointer;
  color: #971e0b;
}

.edit-btn,
.delete-btn {
  cursor: pointer;
  border-radius: 50%;
  font-weight: 300;
  color: #ff755f;
  background-color: #f0e1db;
  border: 1px solid #f0e1db;
  font-size: 0.9em;
  width: 20px;
  height: 20px;
  text-align: center;
}

.edit-btn:hover,
.delete-btn:hover {
  border: 1px solid #f0e1db;
  background-color: #ff755f;
  color: #f0e1db;
  cursor: pointer;
}

.alert {
  margin: 10px;
  border: 0.5em;
}

.alert-danger {
  background-color: #a82b18b9;
  color: rgb(53, 52, 52);
}

.alert-success {
  background-color: #a5d3b4;
  color: rgb(53, 52, 52);
}
